<div class="container-fluid bg-secondary mt-1">
    <div class="row g-0">
        <div class="col-lg-6" style="min-height: 500px;">
            <div class="position-relative h-100">
                <img class="position-absolute w-100 h-100" src="../../../assets/images/testimonial.jpg"
                    style="object-fit: cover;">
            </div>
        </div>
        <div class="col-lg-6 text-center mt-4">
            <h1 class="display-5 mb-6">What Say Our Client!!!</h1>

            <div class="container">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active text-center p-4" data-bs-interval="1000">
                            <p class="fs-5"><i class="fa fa-quote-left text-primary"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi hic officiis quis
                                accusamus quia vitae,
                                <i class="fa fa-quote-right text-primary"></i>
                            </p>
                        </div>
                        <div class="carousel-item text-center p-4" data-bs-interval="1000">
                            <p class="fs-5"><i class="fa fa-quote-left text-primary"></i>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi hic officiis quis
                                accusamus quia vitae,
                                <i class="fa fa-quote-right text-primary"></i>
                            </p>
                        </div>
                    </div>
                    <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>